In [6]:
import numpy as np
import pandas as pd

### <b> Overwiev </b>

1) La base de datos está constituida por dos tablas

    * La tabla cotizantes: muestra los reportes de pagos por periodos de cotización.<br>

    * La tabla aportantes(maestra aportantes): muestra las empresas que realizan los pagos.

### <b> Asignación </b>

1) Determinar la cantidad de personas que tiene pagos para el periodo de cotización=201901.

2) Determinar la cantidad de personas que tiene pagos por cada uno de los periodos de cotización.

3) El promedio salarial de cada una de las personas.

4) Determinar el último perido pagado por cada persona, con toda la información cargada para dicho periodo, incluyendo teléfono, email, fax,direccion del aportante. 
 

<b> NOTA: </b> <br>
* Ya que los dos primeros requerimientos hacen referencia explicitamente al periodo de cotización, puedo obtener la respuesta, a partir de la primera tabla.<br>
* El tercer ítem tambien lo puedo calcular unicamente con información de la tercera tabla

### <b> Importación y Lectura del Archivo CSV: Cotizantes </b>

In [7]:
cotizantes1 = pd.read_csv('Cotizantes.csv', sep=';', header=0, encoding='latin-1')

In [8]:
cotizantes1.head(200)

,cotizanteid,controlid,cdempresa,nmibc_parafiscal,nmibc_pension,nmibc_riesgos,nmibc_salud,nmsalario_basico,fechacontrol,nombreadminccf,...,primernombre,segundoapellido,segundonombre,tipo_cotizante,tipodocumento,tipoplanilla,novedadingreso,novedadretiro,tipodocumento_aportante,numerodocumento_aportante
0,CC42053724,8478833801,Empresa Prueba,NaN,NaN,390621.0,NaN,390621,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,59,CC,I,NaN,NaN,CC,42053724
1,CC1080183082,8487959288,Empresa Prueba,NaN,NaN,749299.0,NaN,394046,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,1,CC,E,NaN,NaN,NI,890916883
2,CC70285939,8480452098,Empresa Prueba,NaN,NaN,773000.0,NaN,773000,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,59,CC,Y,NaN,NaN,NI,890324177
3,CC79327281,8486001516,Empresa Prueba,NaN,NaN,3500000.0,NaN,3500000,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,1,CC,E,NaN,NaN,NI,830081566
4,CC1040750495,7717231634,Empresa Prueba,431641.0,NaN,NaN,431641.0,425000,2019-05-27 14:45:52.09714,CAJA DE COMPENSACION FAMILIAR DE ANTIOQUIA COM...,...,Nombre 1,Apellido 2,Nombre 2,1,CC,E,NaN,NaN,NI,800042522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,CC1152185197,8481405937,Empresa Prueba,516250.0,NaN,516250.0,NaN,488276,2019-05-27 14:45:52.09714,CAJA DE COMPENSACION FAMILIAR DE ANTIOQUIA COM...,...,Nombre 1,Apellido 2,Nombre 2,1,CC,E,NaN,NaN,NI,811035110
196,CC1036660751,8487048005,Empresa Prueba,NaN,NaN,532526.0,532526.0,453536,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,1,CC,E,NaN,NaN,NI,890904478
197,CC21401494,1018002523,Empresa Prueba,NaN,NaN,NaN,414058.0,390621,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,3,CC,I,NaN,NaN,CC,21401494
198,CC10535298,1011679270,Empresa Prueba,NaN,NaN,4222774.0,NaN,3640323,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,30,CC,E,NaN,NaN,NI,890399010
199,CC1010180489,8487139992,Empresa Prueba,NaN,373305.0,373305.0,373305.0,322175,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,1,CC,N,NaN,NaN,NI,900190780

In [10]:
cotizantes2 = cotizantes1.drop_duplicates(subset=['cotizanteid'])

### <b> Estudio de Atributos del DataFrame: 'Cotizantes' </b>

In [11]:
cotizantes1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2279 entries, 0 to 2278
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   cotizanteid                2279 non-null   object
 1   controlid                  2279 non-null   int64
 2   cdempresa                  2279 non-null   object
 3   nmibc_parafiscal           413 non-null    float64
 4   nmibc_pension              663 non-null    float64
 5   nmibc_riesgos              1970 non-null   float64
 6   nmibc_salud                564 non-null    float64
 7   nmsalario_basico           2279 non-null   int64
 8   fechacontrol               2279 non-null   object
 9   nombreadminccf             413 non-null    object
 10  nombreadminpension         663 non-null    object
 11  nombreadminriesgos         1970 non-null   object
 12  nombreadminsalud           564 non-null    object
 13  numerodocumento            2279 non-null   int64
 14  periodo_cotizacion         2279 non-null   int64
 15  primerapellido             2279 non-null   object
 16  primernombre               2279 non-null   object
 17  segundoapellido            2279 non-null   object
 18  segundonombre              2279 non-null   object
 19  tipo_cotizante             2279 non-null   int64
 20  tipodocumento              2279 non-null   object
 21  tipoplanilla               2278 non-null   object
 22  novedadingreso             145 non-null    object
 23  novedadretiro              119 non-null    object
 24  tipodocumento_aportante    2279 non-null   object
 25  numerodocumento_aportante  2279 non-null   int64
dtypes: float64(4), int64(6), object(16)
memory usage: 463.0+ KB

#### <b> Filtrado del DF de acuerdo al Periodo de Cotización </b>

In [12]:
print(cotizantes2[(cotizantes2['periodo_cotizacion'] == 201901)])

      cotizanteid   controlid       cdempresa  nmibc_parafiscal  \
27     CC98332644  8488336256  Empresa Prueba               NaN
30     CC71988238  8488818318  Empresa Prueba          437495.0
77   CC1127622871  8488671029  Empresa Prueba               NaN
124    CC46454721  8488372715  Empresa Prueba               NaN
219  CC1047499181  8488631703  Empresa Prueba               NaN
412  CC1114833233  8490244943  Empresa Prueba               NaN

     nmibc_pension  nmibc_riesgos  nmibc_salud  nmsalario_basico  \
27             NaN            NaN     501783.0            414058
30             NaN       437495.0          NaN            437495
77        589351.0       589351.0          NaN            437250
124            NaN       378733.0          NaN            494000
219            NaN       414058.0          NaN            414058
412            NaN       424927.0          NaN            414058

                  fechacontrol  \
27   2019-05-27 14:45:52.09714
30   2019-05-27 14:45:52.09714
77   2019-05-27 14:45:52.09714
124  2019-05-27 14:45:52.09714
219  2019-05-27 14:45:52.09714
412  2019-05-27 14:45:52.09714

                                        nombreadminccf  ... primernombre  \
27                                                 NaN  ...     Nombre 1
30   CAJA DE COMPENSACION FAMILIAR DE ANTIOQUIA COM...  ...     Nombre 1
77                                                 NaN  ...     Nombre 1
124                                                NaN  ...     Nombre 1
219                                                NaN  ...     Nombre 1
412                                                NaN  ...     Nombre 1

    segundoapellido segundonombre  tipo_cotizante  tipodocumento tipoplanilla  \
27       Apellido 2      Nombre 2               1             CC            E
30       Apellido 2      Nombre 2               1             CC            E
77       Apellido 2      Nombre 2               1             CC            E
124      Apellido 2      Nombre 2               1             CC            E
219      Apellido 2      Nombre 2              23             CC            K
412      Apellido 2      Nombre 2               1             CC            E

    novedadingreso novedadretiro tipodocumento_aportante  \
27             NaN           NaN                      NI
30             NaN           NaN                      NI
77             NaN           NaN                      NI
124              X           NaN                      NI
219            NaN           NaN                      NI
412            NaN           NaN                      NI

     numerodocumento_aportante
27                   800023646
30                   901176031
77                   900632422
124                  891857733
219                  890480123
412                  900928986

[6 rows x 26 columns]

In [13]:
CotizantesFiltrado = cotizantes2[(cotizantes2['periodo_cotizacion'] == 201901)]
CotizantesFiltrado.head()

,cotizanteid,controlid,cdempresa,nmibc_parafiscal,nmibc_pension,nmibc_riesgos,nmibc_salud,nmsalario_basico,fechacontrol,nombreadminccf,...,primernombre,segundoapellido,segundonombre,tipo_cotizante,tipodocumento,tipoplanilla,novedadingreso,novedadretiro,tipodocumento_aportante,numerodocumento_aportante
27,CC98332644,8488336256,Empresa Prueba,NaN,NaN,NaN,501783.0,414058,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,1,CC,E,NaN,NaN,NI,800023646
30,CC71988238,8488818318,Empresa Prueba,437495.0,NaN,437495.0,NaN,437495,2019-05-27 14:45:52.09714,CAJA DE COMPENSACION FAMILIAR DE ANTIOQUIA COM...,...,Nombre 1,Apellido 2,Nombre 2,1,CC,E,NaN,NaN,NI,901176031
77,CC1127622871,8488671029,Empresa Prueba,NaN,589351.0,589351.0,NaN,437250,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,1,CC,E,NaN,NaN,NI,900632422
124,CC46454721,8488372715,Empresa Prueba,NaN,NaN,378733.0,NaN,494000,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,1,CC,E,X,NaN,NI,891857733
219,CC1047499181,8488631703,Empresa Prueba,NaN,NaN,414058.0,NaN,414058,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,23,CC,K,NaN,NaN,NI,890480123

#### <b> Segregación de DF: Cotizantes, por campos; 'cotizanteid' y 'periodo_cotizacion' </b>

In [61]:
print(cotizantes2[['cotizanteid','periodo_cotizacion']].groupby(['periodo_cotizacion']).count().sort_values(by='cotizanteid', ascending=False))

                    cotizanteid
periodo_cotizacion
201903                       11
201904                       10
201810                        8
201802                        7
201901                        6
201803                        6
201804                        6
201805                        6
201812                        6
201809                        5
201801                        5
201902                        4
201806                        4
201808                        4
201807                        3
201811                        3
201712                        2
201705                        1
201710                        1
201706                        1
201508                        1

#### <b> Determinación la cantidad de personas que tiene pagos para el periodo de cotización=201901. </b>

In [27]:
print(CotizantesFiltrado[['cotizanteid','periodo_cotizacion']].groupby(['periodo_cotizacion']).count().sort_values(by='cotizanteid', ascending=False))

                    cotizanteid
periodo_cotizacion
201901                        6

#### <b> Determinación la cantidad de personas que tiene pagos por cada uno de los periodos de cotización. </b>

In [37]:
print(cotizantes2[['cotizanteid','periodo_cotizacion']].groupby(['periodo_cotizacion']).count().sort_values(by='periodo_cotizacion', ascending=False))

                    cotizanteid
periodo_cotizacion
201904                       10
201903                       11
201902                        4
201901                        6
201812                        6
201811                        3
201810                        8
201809                        5
201808                        4
201807                        3
201806                        4
201805                        6
201804                        6
201803                        6
201802                        7
201801                        5
201712                        2
201710                        1
201706                        1
201705                        1
201508                        1

#### <b> Calcular el promedio salarial de cada una de las personas. </b>

In [31]:
print(cotizantes1[['cotizanteid','nmsalario_basico']].groupby(['cotizanteid']).mean().sort_values(by='nmsalario_basico', ascending=False))

              nmsalario_basico
cotizanteid
CC10535298        3.926258e+06
CC32760342        3.562998e+06
CC79327281        3.500000e+06
CC42105755        3.300955e+06
CC1020409583      1.627949e+06
...                        ...
CC70511514        3.773397e+05
CC52293684        3.764753e+05
CC91078298        3.688580e+05
CC1047499181      3.668285e+05
CC42053724        3.549767e+05

[100 rows x 1 columns]

In [15]:
aportantes = pd.read_csv('Maestra_aportantes.csv', sep=';', header=0, encoding='latin-1')

In [16]:
aportantes.head()

,nombre_razon_social,tipo_documento,numero_identificacion,digito_verificacion,codigo_sucursal,nombre_sucursal,clase_aportante,naturaleza_juridica,tipo_persona,formato_presentacion,...,tipo_aportante,fecha_matricula_mercantil,cod_depto,exonerado_pago_salid,acoge_beneficios,dir_origen,fecha_planilla,periodo_cotizacion,cd_planilla,fecharegistro
0,Empresa Prueba,CC,31626898,0,NaN,NaN,I,2,N,U,...,2,NaN,0,N,N,NaN,NaN,2019-12,9401673350,11/01/2020 08:39
1,Empresa Prueba,NI,900645180,0,1,BOGOTA,A,2,J,S,...,1,NaN,0,S,N,NaN,NaN,2020-01,9401968229,23/01/2020 08:12
2,Empresa Prueba,NI,901283244,2,NaN,NaN,A,2,J,U,...,1,NaN,0,S,N,NaN,NaN,2020-01,9401984879,24/01/2020 08:10
3,Empresa Prueba,NI,811014513,1,NaN,NaN,B,2,J,U,...,1,NaN,0,S,N,NaN,NaN,2020-01,9401776401,14/01/2020 10:58
4,Empresa Prueba,NI,811020576,8,NaN,NaN,A,2,J,U,...,1,NaN,0,S,N,NaN,NaN,2019-12,9401760181,22/01/2020 09:03

In [17]:
aportantes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 34 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   nombre_razon_social                112 non-null    object
 1   tipo_documento                     112 non-null    object
 2   numero_identificacion              112 non-null    int64
 3   digito_verificacion                112 non-null    int64
 4   codigo_sucursal                    38 non-null     object
 5   nombre_sucursal                    38 non-null     object
 6   clase_aportante                    112 non-null    object
 7   naturaleza_juridica                112 non-null    int64
 8   tipo_persona                       112 non-null    object
 9   formato_presentacion               112 non-null    object
 10  direccion_correspondencia          112 non-null    object
 11  codigo_ciudad                      112 non-null    int64
 12  codigo_departamento                112 non-null    int64
 13  actividad_economica                112 non-null    int64
 14  telefono                           111 non-null    float64
 15  fax                                42 non-null     float64
 16  email                              112 non-null    object
 17  identificacion_rl                  107 non-null    float64
 18  digito_verificacion_rl             112 non-null    int64
 19  fecha_inicio_concordato            0 non-null      float64
 20  tipo_accion                        112 non-null    int64
 21  fecha_fin_actividades_comerciales  0 non-null      float64
 22  codigo_operador                    112 non-null    int64
 23  periodo_pago                       112 non-null    object
 24  tipo_aportante                     112 non-null    int64
 25  fecha_matricula_mercantil          0 non-null      float64
 26  cod_depto                          112 non-null    int64
 27  exonerado_pago_salid               112 non-null    object
 28  acoge_beneficios                   112 non-null    object
 29  dir_origen                         0 non-null      float64
 30  fecha_planilla                     0 non-null      float64
 31  periodo_cotizacion                 112 non-null    object
 32  cd_planilla                        112 non-null    int64
 33  fecharegistro                      112 non-null    object
dtypes: float64(8), int64(12), object(14)
memory usage: 29.9+ KB

In [35]:
aportantes['numero_identificacion']

0       31626898
1      900645180
2      901283244
3      811014513
4      811020576
         ...
107    900657570
108    812001561
109    900397380
110    900836443
111    811025401
Name: numero_identificacion, Length: 112, dtype: int64

In [36]:
cotizantes1['numerodocumento_aportante']

0        42053724
1       890916883
2       890324177
3       830081566
4       800042522
          ...
2274    860533413
2275    900743592
2276    890925108
2277    900083863
2278      9870588
Name: numerodocumento_aportante, Length: 2279, dtype: int64

In [50]:
DbMaestra = pd.merge(cotizantes1, aportantes, left_on='numerodocumento_aportante', right_on='numero_identificacion', )

In [52]:
DbMaestra.head()

,cotizanteid,controlid,cdempresa,nmibc_parafiscal,nmibc_pension,nmibc_riesgos,nmibc_salud,nmsalario_basico,fechacontrol,nombreadminccf,...,tipo_aportante,fecha_matricula_mercantil,cod_depto,exonerado_pago_salid,acoge_beneficios,dir_origen,fecha_planilla,periodo_cotizacion_y,cd_planilla,fecharegistro
0,CC1080183082,8487959288,Empresa Prueba,NaN,NaN,749299.0,NaN,394046,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-06,9402138952,28/01/2020 07:09
1,CC1080183082,8487959288,Empresa Prueba,NaN,NaN,749299.0,NaN,394046,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-12,9401778447,22/01/2020 09:03
2,CC1080183082,8492468987,Empresa Prueba,NaN,NaN,959094.0,NaN,417689,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-06,9402138952,28/01/2020 07:09
3,CC1080183082,8492468987,Empresa Prueba,NaN,NaN,959094.0,NaN,417689,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-12,9401778447,22/01/2020 09:03
4,CC1080183082,8493608587,Empresa Prueba,NaN,NaN,816588.0,NaN,417688,2019-06-22 14:00:19.634743,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-06,9402138952,28/01/2020 07:09

In [51]:
DbMaestra.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1523 entries, 0 to 1522
Data columns (total 60 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   cotizanteid                        1523 non-null   object
 1   controlid                          1523 non-null   int64
 2   cdempresa                          1523 non-null   object
 3   nmibc_parafiscal                   246 non-null    float64
 4   nmibc_pension                      329 non-null    float64
 5   nmibc_riesgos                      1342 non-null   float64
 6   nmibc_salud                        256 non-null    float64
 7   nmsalario_basico                   1523 non-null   int64
 8   fechacontrol                       1523 non-null   object
 9   nombreadminccf                     246 non-null    object
 10  nombreadminpension                 329 non-null    object
 11  nombreadminriesgos                 1342 non-null   object
 12  nombreadminsalud                   256 non-null    object
 13  numerodocumento                    1523 non-null   int64
 14  periodo_cotizacion_x               1523 non-null   int64
 15  primerapellido                     1523 non-null   object
 16  primernombre                       1523 non-null   object
 17  segundoapellido                    1523 non-null   object
 18  segundonombre                      1523 non-null   object
 19  tipo_cotizante                     1523 non-null   int64
 20  tipodocumento                      1523 non-null   object
 21  tipoplanilla                       1523 non-null   object
 22  novedadingreso                     105 non-null    object
 23  novedadretiro                      77 non-null     object
 24  tipodocumento_aportante            1523 non-null   object
 25  numerodocumento_aportante          1523 non-null   int64
 26  nombre_razon_social                1523 non-null   object
 27  tipo_documento                     1523 non-null   object
 28  numero_identificacion              1523 non-null   int64
 29  digito_verificacion                1523 non-null   int64
 30  codigo_sucursal                    564 non-null    object
 31  nombre_sucursal                    564 non-null    object
 32  clase_aportante                    1523 non-null   object
 33  naturaleza_juridica                1523 non-null   int64
 34  tipo_persona                       1523 non-null   object
 35  formato_presentacion               1523 non-null   object
 36  direccion_correspondencia          1523 non-null   object
 37  codigo_ciudad                      1523 non-null   int64
 38  codigo_departamento                1523 non-null   int64
 39  actividad_economica                1523 non-null   int64
 40  telefono                           1521 non-null   float64
 41  fax                                698 non-null    float64
 42  email                              1523 non-null   object
 43  identificacion_rl                  1433 non-null   float64
 44  digito_verificacion_rl             1523 non-null   int64
 45  fecha_inicio_concordato            0 non-null      float64
 46  tipo_accion                        1523 non-null   int64
 47  fecha_fin_actividades_comerciales  0 non-null      float64
 48  codigo_operador                    1523 non-null   int64
 49  periodo_pago                       1523 non-null   object
 50  tipo_aportante                     1523 non-null   int64
 51  fecha_matricula_mercantil          0 non-null      float64
 52  cod_depto                          1523 non-null   int64
 53  exonerado_pago_salid               1523 non-null   object
 54  acoge_beneficios                   1523 non-null   object
 55  dir_origen                         0 non-null      float64
 56  fecha_planilla                     0 non-null      float64
 57  periodo_cotizacion_y               1523 non-null   object
 58  cd_planilla                        1523 non-null   int64
 59  fecharegistro                      1523 non-null   object
dtypes: float64(12), int64(18), object(30)
memory usage: 725.8+ KB

In [53]:
print(DbMaestra.drop_duplicates(subset=['cotizanteid'], keep='last'))

       cotizanteid   controlid       cdempresa  nmibc_parafiscal  \
29      CC70285939  8487839985  Empresa Prueba               NaN
54      CC79327281  8499065086  Empresa Prueba               NaN
77    CC1040750495  7741136715  Empresa Prueba          489047.0
89      CC71724085  7691345781  Empresa Prueba               NaN
109     CC36725172    36886174  Empresa Prueba               NaN
...            ...         ...             ...               ...
1507  CC1143987925  9401938858  Empresa Prueba               NaN
1514  CC1127622871  9401697069  Empresa Prueba               NaN
1518    CC43452280  9401776401  Empresa Prueba               NaN
1520  CC1020761044  9401815931  Empresa Prueba               NaN
1522    CC52293684  8463896725  Empresa Prueba          504459.0

      nmibc_pension  nmibc_riesgos  nmibc_salud  nmsalario_basico  \
29              NaN       773000.0          NaN            773000
54              NaN      3500000.0          NaN           3500000
77              NaN            NaN     489047.0            450000
89              NaN            NaN     849000.0            849000
109             NaN      1300000.0          NaN           1300000
...             ...            ...          ...               ...
1507            NaN       706280.0          NaN            437890
1514            NaN       414058.0          NaN            414058
1518            NaN       414058.0     414058.0            414058
1520       800000.0       800000.0     800000.0           2000000
1522            NaN            NaN          NaN            475005

                    fechacontrol  \
29     2019-05-27 14:45:52.09714
54    2019-11-15 14:00:09.734266
77    2020-01-12 14:00:13.509109
89     2019-05-27 14:45:52.09714
109    2019-09-19 14:00:20.27573
...                          ...
1507  2020-01-23 14:00:15.248479
1514  2020-01-12 14:00:13.509109
1518  2020-01-15 14:00:22.824106
1520  2020-01-16 14:00:13.288138
1522   2019-05-27 14:45:52.09714

                                         nombreadminccf  ... tipo_aportante  \
29                                                  NaN  ...              1
54                                                  NaN  ...              1
77    CAJA DE COMPENSACION FAMILIAR DE ANTIOQUIA COM...  ...              1
89                                                  NaN  ...              1
109                                                 NaN  ...              1
...                                                 ...  ...            ...
1507                                                NaN  ...              1
1514                                                NaN  ...              1
1518                                                NaN  ...              1
1520                                                NaN  ...              1
1522   CAJA COLOMBIANA DE SUBSIDIO FAMILIAR COLSUBSIDIO  ...              1

     fecha_matricula_mercantil cod_depto  exonerado_pago_salid  \
29                         NaN         0                     N
54                         NaN         0                     S
77                         NaN         0                     S
89                         NaN         5                     S
109                        NaN         0                     S
...                        ...       ...                   ...
1507                       NaN         0                     S
1514                       NaN         0                     S
1518                       NaN         0                     S
1520                       NaN         0                     S
1522                       NaN         0                     S

      acoge_beneficios dir_origen fecha_planilla periodo_cotizacion_y  \
29                   N        NaN            NaN              2019-12
54                   N        NaN            NaN              2020-01
77                   N        NaN            NaN              2019-12
89                   S        NaN            NaN              2020-01
109                  N        NaN            NaN              2020-01
...                ...        ...            ...                  ...
1507                 N        NaN            NaN              2020-01
1514                 N        NaN            NaN              2020-01
1518                 N        NaN            NaN              2020-01
1520                 N        NaN            NaN              2020-01
1522                 N        NaN            NaN              2020-01

     cd_planilla     fecharegistro
29    9402028932  25/01/2020 07:56
54    9401815371  15/01/2020 09:53
77    7741265205  15/01/2020 10:17
89    7741192038  14/01/2020 10:58
109     39687459  11/01/2020 11:01
...          ...               ...
1507  9401968229  23/01/2020 08:12
1514  9401928180  25/01/2020 07:56
1518  9401776401  14/01/2020 10:58
1520  9401815931  15/01/2020 09:52
1522  9402034472  28/01/2020 08:12

[76 rows x 60 columns]

In [55]:
DbMaestrafltr = DbMaestra.drop_duplicates(subset=['cotizanteid'], keep='last')
DbMaestrafltr.head ()

,cotizanteid,controlid,cdempresa,nmibc_parafiscal,nmibc_pension,nmibc_riesgos,nmibc_salud,nmsalario_basico,fechacontrol,nombreadminccf,...,tipo_aportante,fecha_matricula_mercantil,cod_depto,exonerado_pago_salid,acoge_beneficios,dir_origen,fecha_planilla,periodo_cotizacion_y,cd_planilla,fecharegistro
29,CC70285939,8487839985,Empresa Prueba,NaN,NaN,773000.0,NaN,773000,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,N,N,NaN,NaN,2019-12,9402028932,25/01/2020 07:56
54,CC79327281,8499065086,Empresa Prueba,NaN,NaN,3500000.0,NaN,3500000,2019-11-15 14:00:09.734266,NaN,...,1,NaN,0,S,N,NaN,NaN,2020-01,9401815371,15/01/2020 09:53
77,CC1040750495,7741136715,Empresa Prueba,489047.0,NaN,NaN,489047.0,450000,2020-01-12 14:00:13.509109,CAJA DE COMPENSACION FAMILIAR DE ANTIOQUIA COM...,...,1,NaN,0,S,N,NaN,NaN,2019-12,7741265205,15/01/2020 10:17
89,CC71724085,7691345781,Empresa Prueba,NaN,NaN,NaN,849000.0,849000,2019-05-27 14:45:52.09714,NaN,...,1,NaN,5,S,S,NaN,NaN,2020-01,7741192038,14/01/2020 10:58
109,CC36725172,36886174,Empresa Prueba,NaN,NaN,1300000.0,NaN,1300000,2019-09-19 14:00:20.27573,NaN,...,1,NaN,0,S,N,NaN,NaN,2020-01,39687459,11/01/2020 11:01

In [56]:
DbMaestrafltr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76 entries, 29 to 1522
Data columns (total 60 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   cotizanteid                        76 non-null     object
 1   controlid                          76 non-null     int64
 2   cdempresa                          76 non-null     object
 3   nmibc_parafiscal                   13 non-null     float64
 4   nmibc_pension                      20 non-null     float64
 5   nmibc_riesgos                      66 non-null     float64
 6   nmibc_salud                        16 non-null     float64
 7   nmsalario_basico                   76 non-null     int64
 8   fechacontrol                       76 non-null     object
 9   nombreadminccf                     13 non-null     object
 10  nombreadminpension                 20 non-null     object
 11  nombreadminriesgos                 66 non-null     object
 12  nombreadminsalud                   16 non-null     object
 13  numerodocumento                    76 non-null     int64
 14  periodo_cotizacion_x               76 non-null     int64
 15  primerapellido                     76 non-null     object
 16  primernombre                       76 non-null     object
 17  segundoapellido                    76 non-null     object
 18  segundonombre                      76 non-null     object
 19  tipo_cotizante                     76 non-null     int64
 20  tipodocumento                      76 non-null     object
 21  tipoplanilla                       76 non-null     object
 22  novedadingreso                     11 non-null     object
 23  novedadretiro                      13 non-null     object
 24  tipodocumento_aportante            76 non-null     object
 25  numerodocumento_aportante          76 non-null     int64
 26  nombre_razon_social                76 non-null     object
 27  tipo_documento                     76 non-null     object
 28  numero_identificacion              76 non-null     int64
 29  digito_verificacion                76 non-null     int64
 30  codigo_sucursal                    26 non-null     object
 31  nombre_sucursal                    26 non-null     object
 32  clase_aportante                    76 non-null     object
 33  naturaleza_juridica                76 non-null     int64
 34  tipo_persona                       76 non-null     object
 35  formato_presentacion               76 non-null     object
 36  direccion_correspondencia          76 non-null     object
 37  codigo_ciudad                      76 non-null     int64
 38  codigo_departamento                76 non-null     int64
 39  actividad_economica                76 non-null     int64
 40  telefono                           75 non-null     float64
 41  fax                                32 non-null     float64
 42  email                              76 non-null     object
 43  identificacion_rl                  71 non-null     float64
 44  digito_verificacion_rl             76 non-null     int64
 45  fecha_inicio_concordato            0 non-null      float64
 46  tipo_accion                        76 non-null     int64
 47  fecha_fin_actividades_comerciales  0 non-null      float64
 48  codigo_operador                    76 non-null     int64
 49  periodo_pago                       76 non-null     object
 50  tipo_aportante                     76 non-null     int64
 51  fecha_matricula_mercantil          0 non-null      float64
 52  cod_depto                          76 non-null     int64
 53  exonerado_pago_salid               76 non-null     object
 54  acoge_beneficios                   76 non-null     object
 55  dir_origen                         0 non-null      float64
 56  fecha_planilla                     0 non-null      float64
 57  periodo_cotizacion_y               76 non-null     object
 58  cd_planilla                        76 non-null     int64
 59  fecharegistro                      76 non-null     object
dtypes: float64(12), int64(18), object(30)
memory usage: 36.2+ KB

In [57]:
print(DbMaestrafltr.loc[:, ['cotizanteid', 'periodo_cotizacion_x', 'telefono', 'email', 'fax', 'direccion_correspondencia']])

       cotizanteid  periodo_cotizacion_x   telefono                 email  \
29      CC70285939                201812  3319090.0  prueba@prueba.com.co
54      CC79327281                201910  7439050.0  prueba@prueba.com.co
77    CC1040750495                201912  4482599.0  prueba@prueba.com.co
89      CC71724085                201805  4489018.0  prueba@prueba.com.co
109     CC36725172                201908  6943045.0  prueba@prueba.com.co
...            ...                   ...        ...                   ...
1507  CC1143987925                201912  4325070.0  prueba@prueba.com.co
1514  CC1127622871                201911  7452340.0  prueba@prueba.com.co
1518    CC43452280                201912  2543598.0  prueba@prueba.com.co
1520  CC1020761044                201912  2122300.0  prueba@prueba.com.co
1522    CC52293684                201702  7480808.0  prueba@prueba.com.co

            fax direccion_correspondencia
29          NaN       CARRERA 98 NO 18-49
54          NaN               CL 15 12 57
77    2793889.0     CRA 50 NO. 80 SUR -80
89          NaN            CRA 45 # 25-23
109   4661048.0              CLL 75 58 30
...         ...                       ...
1507        NaN            CALLE 93 12 54
1514        NaN           CALLE 93 #19-58
1518        NaN                  CR505959
1520        NaN      CALLE 73 7 31 PISO 3
1522        NaN           CRA 63 NO 17-92

[76 rows x 6 columns]

In [58]:
PeriodoPagado =  DbMaestrafltr.loc[:, ['cotizanteid', 'periodo_cotizacion_x', 'telefono', 'email', 'fax', 'direccion_correspondencia']]

In [59]:
PeriodoPagado.head(80)

,cotizanteid,periodo_cotizacion_x,telefono,email,fax,direccion_correspondencia
29,CC70285939,201812,3319090.0,prueba@prueba.com.co,NaN,CARRERA 98 NO 18-49
54,CC79327281,201910,7439050.0,prueba@prueba.com.co,NaN,CL 15 12 57
77,CC1040750495,201912,4482599.0,prueba@prueba.com.co,2793889.0,CRA 50 NO. 80 SUR -80
89,CC71724085,201805,4489018.0,prueba@prueba.com.co,NaN,CRA 45 # 25-23
109,CC36725172,201908,6943045.0,prueba@prueba.com.co,4661048.0,CLL 75 58 30
...,...,...,...,...,...,...
1507,CC1143987925,201912,4325070.0,prueba@prueba.com.co,NaN,CALLE 93 12 54
1514,CC1127622871,201911,7452340.0,prueba@prueba.com.co,NaN,CALLE 93 #19-58
1518,CC43452280,201912,2543598.0,prueba@prueba.com.co,NaN,CR505959
1520,CC1020761044,201912,2122300.0,prueba@prueba.com.co,NaN,CALLE 73 7 31 PISO 3
1522,CC52293684,201702,7480808.0,prueba@prueba.com.co,NaN,CRA 63 NO 17-92

In [60]:
PeriodoPagado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76 entries, 29 to 1522
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   cotizanteid                76 non-null     object
 1   periodo_cotizacion_x       76 non-null     int64
 2   telefono                   75 non-null     float64
 3   email                      76 non-null     object
 4   fax                        32 non-null     float64
 5   direccion_correspondencia  76 non-null     object
dtypes: float64(2), int64(1), object(3)
memory usage: 4.2+ KB

### <b> Preguntas Adicionales </b>

<b> 1) </b> En SQL, ¿cuál de estas sentencias añade una fila a una tabla en una base de datos?<br>
    a) `ADD` <br>
    b) `INSERT` <br>
    c) `UPDATE` <br>
    d) `INCLUDE` <br>
    
<b> Respuesta: </b> ítem a)

<b> 2) </b> En SQL, para eliminar las filas duplicadas del resultado de una sentencia SELECT se emplea. <br>
    a) `NO DUPLICATE` <br>
    b) `UNIQUE` <br>
    c) `DISTINCT` <br>
    d) Las anteriores respuestas no son correctas <br>
    
<b> Respuesta: </b> ítem c)

<b> 3) </b> ¿Qué instrucción se emplea para eliminar todo el contenido de una tabla, pero conservando la tabla? <br>
    a) `DELETE TABLE` <br>
    b) `DROP TABLE` <br>
    c) `TRUNCATE TABLE` <br>
    d) Las anteriores respuestas no son correctas <br>
    
<b> Respuesta: </b> ítem c)

<b> 4) </b>	¿Cuál de las siguientes no es una función de agregación? <br>
    a) `COUNT()` <br>
    b) `LIMIT()` <br>
    c) `MAX()` <br>
    d) `MIN()`
    
<b> Respuesta: </b> ítem b)

<b> 5) </b> ¿En cuál de las siguientes sentencias del lenguaje SQL se emplea la cláusula SET? <br>
    a) `DELETE` <br>
    b) `DROP` <br>
    c) `SELECT` <br>
    d) `UPDATE`
    
<b> Respuesta: </b> ítem d)

<b> 6) </b> En SQL, para modificar la estructura de una tabla de una base de datos se emplea la instrucción <br>
    a) `ALTER TABLE` <br>
    b) `CHANGE TABLE` <br>
    c) `MODIFY TABLE` <br>
    d) `Las anteriores respuestas no son correctas`
    
<b> Respuesta: </b> ítem a)

<b> 7) </b> En SQL, Que función se requiere para convertir cualquier tipo de dato a uno en especifico <br>
    a) `MODIFY()` <br>
    b) `CHANGE_TYPE()` <br>
    c) `CAST()` <br>
    d) `CONVERTIR()`
    
<b> Respuesta: </b> ítem c)

<b> 8) </b>	Que es más óptimo al momento de realizar consultas a la BD: <br>
    a) Subconsultas <br>
    b) Join´s <br>
    c) Tablas Temporales, no materializadas <br>
    d) Ninguna de las anteriores
    
<b> Respuesta: </b> ítem a)

<b> 9) </b>	Optimice la siguiente sentencia:
```sql
SELECT coti.*,ma.telefono,ma.fax,ma.email 
FROM cotizantes coti, maestra_aportantes ma
WHERE ma.tipo_documento = coti.tipodocumento_aportante 
AND ma.numero_identificacion = coti.numerodocumento_aportante;

```

```sql
SELECT coti.*,ma.telefono,ma.fax,ma.email 
FROM cotizantes coti JOIN maestra_aportantes ma
ON ma.numero_identificacion = coti.numerodocumento_aportante; 

Código modificádo 

```

### <b> Indicadores </b>

#### <b> Indicador 1: Cantidad de aportantes Independientes, (tipo planilla igual a I) </b>

In [72]:
print(aportantes.drop_duplicates(subset=['numero_identificacion']))

    nombre_razon_social tipo_documento  numero_identificacion  \
0        Empresa Prueba             CC               31626898
1        Empresa Prueba             NI              900645180
2        Empresa Prueba             NI              901283244
3        Empresa Prueba             NI              811014513
4        Empresa Prueba             NI              811020576
..                  ...            ...                    ...
104      Empresa Prueba             NI              900761031
107      Empresa Prueba             NI              900657570
108      Empresa Prueba             NI              812001561
109      Empresa Prueba             NI              900397380
110      Empresa Prueba             NI              900836443

     digito_verificacion codigo_sucursal             nombre_sucursal  \
0                      0             NaN                         NaN
1                      0               1                      BOGOTA
2                      2             NaN                         NaN
3                      1             NaN                         NaN
4                      8             NaN                         NaN
..                   ...             ...                         ...
104                    8             NaN                         NaN
107                    1               1                   BOCATOMAS
108                    0             NaN                         NaN
109                    2             NaN                         NaN
110                    2              13  UNION TEMPORAL EL SILENCIO

    clase_aportante  naturaleza_juridica tipo_persona formato_presentacion  \
0                 I                    2            N                    U
1                 A                    2            J                    S
2                 A                    2            J                    U
3                 B                    2            J                    U
4                 A                    2            J                    U
..              ...                  ...          ...                  ...
104               D                    2            J                    U
107               B                    2            J                    S
108               B                    2            J                    U
109               B                    2            J                    U
110               B                    2            J                    S

     ... tipo_aportante  fecha_matricula_mercantil  cod_depto  \
0    ...              2                        NaN          0
1    ...              1                        NaN          0
2    ...              1                        NaN          0
3    ...              1                        NaN          0
4    ...              1                        NaN          0
..   ...            ...                        ...        ...
104  ...              1                        NaN       4010
107  ...              1                        NaN          0
108  ...              1                        NaN          0
109  ...              1                        NaN          0
110  ...              1                        NaN          0

     exonerado_pago_salid  acoge_beneficios  dir_origen fecha_planilla  \
0                       N                 N         NaN            NaN
1                       S                 N         NaN            NaN
2                       S                 N         NaN            NaN
3                       S                 N         NaN            NaN
4                       S                 N         NaN            NaN
..                    ...               ...         ...            ...
104                     S                 N         NaN            NaN
107                     S                 N         NaN            NaN
108                     S                 N         NaN            NaN
109                     S                 N         NaN            NaN
110                     S                 N         NaN            NaN

     periodo_cotizacion  cd_planilla     fecharegistro
0               2019-12   9401673350  11/01/2020 08:39
1               2020-01   9401968229  23/01/2020 08:12
2               2020-01   9401984879  24/01/2020 08:10
3               2020-01   9401776401  14/01/2020 10:58
4               2019-12   9401760181  22/01/2020 09:03
..                  ...          ...               ...
104             2019-12     17117464  11/01/2020 08:38
107             2020-01   9401782377  14/01/2020 10:58
108             2019-12   9401364074  14/01/2020 08:58
109             2020-01     17166508  18/01/2020 08:47
110             2020-01   9401803050  15/01/2020 09:52

[98 rows x 34 columns]

In [18]:
aportantes['tipoplanilla']

KeyError: 'tipoplanilla'

In [63]:
def TipoAportante(x):
    Independiente = False
    if (x == 2):
        Independiente = True
    else:
        None
    return Independiente

In [69]:
AportantesIndependientes = (aportantes['tipo_aportante']).apply(TipoAportante)

In [70]:
print(AportantesIndependientes)

0       True
1      False
2      False
3      False
4      False
       ...
107    False
108    False
109    False
110    False
111    False
Name: tipo_aportante, Length: 112, dtype: bool

In [73]:
print('La cantidad de aportantes imdependientes es:', AportantesIndependientes[AportantesIndependientes == True].count())

La cantidad de aportantes imdependientes es: 7

#### <b> Indicador 2: Cantidad de personas que presentan novedad de ingreso por periodo de cotización </b>

In [19]:
cotizantes2[['periodo_cotizacion','novedadingreso']].groupby(['periodo_cotizacion']).count()

                    novedadingreso
periodo_cotizacion
201508                           0
201705                           0
201706                           0
201710                           0
201712                           0
201801                           1
201802                           0
201803                           0
201804                           0
201805                           0
201806                           0
201807                           0
201808                           0
201809                           1
201810                           1
201811                           0
201812                           0
201901                           1
201902                           2
201903                           2
201904                           2

#### <b> Indicador 3: Segmentación de personas por salario Básico, tomar en cuenta solo el último periodo de cotización pagado por cada persona. </b>

In [77]:
PersonasSegunSalario = cotizantes1.drop_duplicates(subset=['cotizanteid'], keep='last')

In [85]:
PersonasSegunSalario[['cotizanteid','nmsalario_basico']].groupby(['nmsalario_basico']).head()

       cotizanteid  nmsalario_basico
1445    CC79936775           1000000
1559  CC1045523556            390621
1692    CC98332644            368858
1707    CC92528342            390621
1734    CC92556219            390621
...            ...               ...
2273  CC1035855150            700000
2274  CC1026582030            828150
2275  CC1080183082            417688
2276    CC42105755           3373374
2277  CC1053782170            507708

[64 rows x 2 columns]

#### <b> Indicador 4: Cantidad de personas y aportantes suministrados. </b>

In [87]:
CantidadPersonas = cotizantes2['cotizanteid'].count()
print('La cantidad de Personas suministrada fue:', CantidadPersonas)

La cantidad de Personas suministrada fue: 100

In [88]:
CantidadAportantes = (aportantes.drop_duplicates(subset=['numero_identificacion']))['numero_identificacion'].count()

In [89]:
print('La cantidad de Aportantes suministrados fue:', CantidadAportantes)

La cantidad de Aportantes suministrados fue: 98