![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

# <b> Prueba Técnica: José Salas </b> <br>
# Aplicación para el Rol: Analista de Datos

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## <b> Asignaciones </b>

1. En la Base de Datos, deben de quedar dos tablas.<br>
    * Cotizantes: Tabla Transaccional en la que podemos ver los reportes de pagos por periodos de cotización
    * Maestra_aportantes: Tabla Maestra de empresas que realizan los pagos.

    <b> Determinar:	<br> </b>
    1.1) Cantidad de personas que tiene pagos para el periodo de cotización=201901. <br>

    1.2) Cantidad de personas que tiene pagos por cada uno de los periodos de cotización. <br>

    1.3) El promedio salarial de cada una de las personas. <br>

    1.4) El último periodo pagado por cada persona, con toda la información cargada para dicho periodo, incluyendo teléfono, email, fax,direccion del aportante.


Resultados <br>
    <b> Ítem 1.1) </b>  Cantidad de personas que tiene pagos para el periodo de cotización=201901.

In [45]:
print('La cantidad de personas con pagos registrados para el periodo de cotización 2019-01 fue de:')
((cotizantes2[(cotizantes2['periodo_cotizacion'] == 201901)])[['cotizanteid','periodo_cotizacion']].groupby(['periodo_cotizacion']).count().sort_values(by='cotizanteid', ascending=False)).head()

La cantidad de personas con pagos registrados para el periodo de cotización 2019-01 fue de:

                    cotizanteid
periodo_cotizacion
201901                        6

Resultados <br>
    <b> Ítem 1.2) </b>  Cantidad de personas que tiene pagos por cada uno de los periodos de cotización.

In [43]:
(cotizantes2[['cotizanteid','periodo_cotizacion']].groupby(['periodo_cotizacion']).count().sort_values(by='periodo_cotizacion', ascending=False)).head(50)

                    cotizanteid
periodo_cotizacion
201904                       10
201903                       11
201902                        4
201901                        6
201812                        6
201811                        3
201810                        8
201809                        5
201808                        4
201807                        3
201806                        4
201805                        6
201804                        6
201803                        6
201802                        7
201801                        5
201712                        2
201710                        1
201706                        1
201705                        1
201508                        1

Resultados <br>
    <b> Ítem 1.3) </b> El promedio salarial de cada una de las personas.

In [44]:
(cotizantes2[['cotizanteid','nmsalario_basico']].groupby(['cotizanteid']).mean().sort_values(by='nmsalario_basico', ascending=False)).head(30)

              nmsalario_basico
cotizanteid
CC32760342           4299150.0
CC10535298           3640323.0
CC79327281           3500000.0
CC42105755           3246751.0
CC7723876            1777350.0
CC1020409583         1750000.0
CC24317409           1480000.0
CC7716588            1432209.0
CC1032466204         1250000.0
CC1020761044         1241370.0
CC37713711           1233750.0
CC1049608290         1230362.0
CC36725172           1200000.0
CC31626898           1150000.0
CC80765739           1129700.0
CC79345001           1065000.0
CC1026582030         1041361.0
CC79936775           1000000.0
CC1019081016          994500.0
CC20749516            976000.0
CC1119891139          944500.0
CC73208971            900000.0
CC26987169            882500.0
CC71724085            849000.0
CC70285939            773000.0
CC31791433            750000.0
CC23497693            679000.0
CC1067033339          669500.0
CC52344690            630894.0
CC1049796792          550000.0

Resultados <br>
    <b> Ítem 1.4) </b> El último periodo pagado por cada persona, con toda la información cargada para dicho periodo, incluyendo teléfono, email, fax,direccion del aportante.

In [54]:
PeriodoPagado = (DbMaestra.drop_duplicates(subset=['cotizanteid'], keep='last')).loc[:, ['cotizanteid', 'periodo_cotizacion_x', 'telefono', 'email', 'fax', 'direccion_correspondencia']]

In [56]:
PeriodoPagado.head(80)

,cotizanteid,periodo_cotizacion_x,telefono,email,fax,direccion_correspondencia
29,CC70285939,201812,3319090.0,prueba@prueba.com.co,NaN,CARRERA 98 NO 18-49
54,CC79327281,201910,7439050.0,prueba@prueba.com.co,NaN,CL 15 12 57
77,CC1040750495,201912,4482599.0,prueba@prueba.com.co,2793889.0,CRA 50 NO. 80 SUR -80
89,CC71724085,201805,4489018.0,prueba@prueba.com.co,NaN,CRA 45 # 25-23
109,CC36725172,201908,6943045.0,prueba@prueba.com.co,4661048.0,CLL 75 58 30
...,...,...,...,...,...,...
1507,CC1143987925,201912,4325070.0,prueba@prueba.com.co,NaN,CALLE 93 12 54
1514,CC1127622871,201911,7452340.0,prueba@prueba.com.co,NaN,CALLE 93 #19-58
1518,CC43452280,201912,2543598.0,prueba@prueba.com.co,NaN,CR505959
1520,CC1020761044,201912,2122300.0,prueba@prueba.com.co,NaN,CALLE 73 7 31 PISO 3
1522,CC52293684,201702,7480808.0,prueba@prueba.com.co,NaN,CRA 63 NO 17-92

### <b> Indicadores </b>

#### <b> Indicador 1: Cantidad de aportantes Independientes, (tipo planilla igual a I) </b>

In [73]:
print('La cantidad de aportantes imdependientes es:')
print(AportantesIndependientes[AportantesIndependientes == True].count())

La cantidad de aportantes imdependientes es:
3

#### <b> Indicador 2: Cantidad de personas que presentan novedad de ingreso por periodo de cotización </b>

In [75]:
cotizantes2[['periodo_cotizacion','novedadingreso']].groupby(['periodo_cotizacion']).count()

                    novedadingreso
periodo_cotizacion
201508                           0
201705                           0
201706                           0
201710                           0
201712                           0
201801                           1
201802                           0
201803                           0
201804                           0
201805                           0
201806                           0
201807                           0
201808                           0
201809                           1
201810                           1
201811                           0
201812                           0
201901                           1
201902                           2
201903                           2
201904                           2

#### <b> Indicador 3: Segmentación de personas por salario Básico, tomar en cuenta solo el último periodo de cotización pagado por cada persona. </b>

In [78]:
cotizantes1.drop_duplicates(subset=['cotizanteid'], keep='last')[['cotizanteid','nmsalario_basico']].groupby(['nmsalario_basico']).head(30)

       cotizanteid  nmsalario_basico
1445    CC79936775           1000000
1559  CC1045523556            390621
1692    CC98332644            368858
1707    CC92528342            390621
1734    CC92556219            390621
...            ...               ...
2273  CC1035855150            700000
2274  CC1026582030            828150
2275  CC1080183082            417688
2276    CC42105755           3373374
2277  CC1053782170            507708

[91 rows x 2 columns]

#### <b> Indicador 4: Cantidad de personas y aportantes suministrados. </b>

In [79]:
print('La cantidad de Personas suministrada fue:')
print(cotizantes2['cotizanteid'].count())

La cantidad de Personas suministrada fue:
100

In [80]:
print('La cantidad de Aportantes suministrada fue:')
print(aportantes2['numero_identificacion'].count())

La cantidad de Aportantes suministrada fue:
98

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

<b> Para visualizar el código y conzular el proceso metodológico ir a la sección: Exploración de la Data </b>

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

2. En SQL, ¿cuál de estas sentencias añade una fila a una tabla en una base de datos? <br>

    a) `ADD` <br>
    b) `INSERT` <br>
    c) `UPDATE` <br>
    d) `INCLUDE` <br>

    <b> Respuesta: </b> ítem a)

    ![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

3. En SQL, para eliminar las filas duplicadas del resultado de una sentencia SELECT se emplea. <br>

    a) `NO DUPLICATE` <br>
    b) `UNIQUE` <br>
    c) `DISTINCT` <br>
    d) Las anteriores respuestas no son correctas <br>

    <b> Respuesta: </b> ítem c)

    ![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

4. ¿Qué instrucción se emplea para eliminar todo el contenido de una tabla, pero conservando la tabla? <br>

    a) `DELETE TABLE` <br>
    b) `DROP TABLE` <br>
    c) `TRUNCATE TABLE` <br>
    d) Las anteriores respuestas no son correctas <br>

    <b> Respuesta: </b> ítem c)

    ![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

5. ¿Cuál de las siguientes no es una función de agregación? <br>

    a) `COUNT()` <br>
    b) `LIMIT()` <br>
    c) `MAX()` <br>
    d) 'MIN()' <br>

    <b> Respuesta: </b> ítem b)

    ![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

6. ¿En cuál de las siguientes sentencias del lenguaje SQL se emplea la cláusula SET? <br>

    a) `DELETE` <br>
    b) `DROP` <br>
    c) `SELECT` <br>
    d) `UPDATE` <br>

    <b> Respuesta: </b> ítem d)

    ![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

7. En SQL, para modificar la estructura de una tabla de una base de datos se emplea la instrucción <br>

    a) `ALTER TABLE` <br>
    b) `CHANGE TABLE` <br>
    c) `MODIFY TABLE` <br>
    d) `Las anteriores respuestas no son correctas` <br>

    <b> Respuesta: </b> ítem a)

    ![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

8. En SQL, Que función se requiere para convertir cualquier tipo de dato a uno en especifico <br>

    a) `MODIFY` <br>
    b) `CHANGE_TYPE()` <br>
    c) `CAST()` <br>
    d) `CONVERTIR()` <br>

    <b> Respuesta: </b> ítem c)

    ![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

9. 	Que es más óptimo al momento de realizar consultas a la BD: <br>

    a) Subconsultas <br>
    b) Join´s` <br>
    c) Tablas Temporales, no materializadas <br>
    d) Ninguna de las anteriores <br>

    <b> Respuesta: </b> ítem a)

    ![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

10. Optimice la siguiente sentencia:<br>
    ```sql
    SELECT coti.*,ma.telefono,ma.fax,ma.email 
    FROM cotizantes coti, maestra_aportantes ma
    WHERE ma.tipo_documento = coti.tipodocumento_aportante 
    AND ma.numero_identificacion = coti.numerodocumento_aportante;

    ```

* Código Modificado<br>
    ```sql
    SELECT coti.*,ma.telefono,ma.fax,ma.email 
    FROM cotizantes coti, maestra_aportantes ma
    WHERE ma.tipo_documento = coti.tipodocumento_aportante 
    AND ma.numero_identificacion = coti.numerodocumento_aportante;
    ```

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## <b> Exploración de la Data </b>

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

### <b> Generalidades/ *Overview* </b>

Se requieren determinar las carácteristicas de los cotizantes, asociados a los aportantes listados para establecer su  grado de solvencia en cuanto a aportes los servicios de seguridad social con respecto al promedio salarial que recibe.

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

#### <b> Identificación del Problema </b>

Carencia de Kip´s para conocer: 

* Cantidad de aportantes Independientes.

* Cantidad de personas que presentan novedad de ingreso por periodo de cotización.

* Segmentación de personas por salario Básico, tomar en cuenta solo el último periodo de cotización pagado por cada persona.

* Cantidad de personas y aportantes suministrados.

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

#### <b> Propuesta Metodológica </b>


![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

* ##### Importación de las Librerías

In [1]:
import numpy as np
import pandas as pd

* ##### Importación de los Datos

In [2]:
cotizantes1 = pd.read_csv('Cotizantes.csv', sep=';', header=0, encoding='latin-1')

In [7]:
aportantes1 = pd.read_csv('Maestra_aportantes.csv', sep=';', header=0, encoding='latin-1')

In [4]:
cotizantes1.head(200)

,cotizanteid,controlid,cdempresa,nmibc_parafiscal,nmibc_pension,nmibc_riesgos,nmibc_salud,nmsalario_basico,fechacontrol,nombreadminccf,...,primernombre,segundoapellido,segundonombre,tipo_cotizante,tipodocumento,tipoplanilla,novedadingreso,novedadretiro,tipodocumento_aportante,numerodocumento_aportante
0,CC42053724,8478833801,Empresa Prueba,NaN,NaN,390621.0,NaN,390621,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,59,CC,I,NaN,NaN,CC,42053724
1,CC1080183082,8487959288,Empresa Prueba,NaN,NaN,749299.0,NaN,394046,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,1,CC,E,NaN,NaN,NI,890916883
2,CC70285939,8480452098,Empresa Prueba,NaN,NaN,773000.0,NaN,773000,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,59,CC,Y,NaN,NaN,NI,890324177
3,CC79327281,8486001516,Empresa Prueba,NaN,NaN,3500000.0,NaN,3500000,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,1,CC,E,NaN,NaN,NI,830081566
4,CC1040750495,7717231634,Empresa Prueba,431641.0,NaN,NaN,431641.0,425000,2019-05-27 14:45:52.09714,CAJA DE COMPENSACION FAMILIAR DE ANTIOQUIA COM...,...,Nombre 1,Apellido 2,Nombre 2,1,CC,E,NaN,NaN,NI,800042522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,CC1152185197,8481405937,Empresa Prueba,516250.0,NaN,516250.0,NaN,488276,2019-05-27 14:45:52.09714,CAJA DE COMPENSACION FAMILIAR DE ANTIOQUIA COM...,...,Nombre 1,Apellido 2,Nombre 2,1,CC,E,NaN,NaN,NI,811035110
196,CC1036660751,8487048005,Empresa Prueba,NaN,NaN,532526.0,532526.0,453536,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,1,CC,E,NaN,NaN,NI,890904478
197,CC21401494,1018002523,Empresa Prueba,NaN,NaN,NaN,414058.0,390621,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,3,CC,I,NaN,NaN,CC,21401494
198,CC10535298,1011679270,Empresa Prueba,NaN,NaN,4222774.0,NaN,3640323,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,30,CC,E,NaN,NaN,NI,890399010
199,CC1010180489,8487139992,Empresa Prueba,NaN,373305.0,373305.0,373305.0,322175,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,1,CC,N,NaN,NaN,NI,900190780

In [9]:
aportantes1.head(200)

,nombre_razon_social,tipo_documento,numero_identificacion,digito_verificacion,codigo_sucursal,nombre_sucursal,clase_aportante,naturaleza_juridica,tipo_persona,formato_presentacion,...,tipo_aportante,fecha_matricula_mercantil,cod_depto,exonerado_pago_salid,acoge_beneficios,dir_origen,fecha_planilla,periodo_cotizacion,cd_planilla,fecharegistro
0,Empresa Prueba,CC,31626898,0,NaN,NaN,I,2,N,U,...,2,NaN,0,N,N,NaN,NaN,2019-12,9401673350,11/01/2020 08:39
1,Empresa Prueba,NI,900645180,0,1,BOGOTA,A,2,J,S,...,1,NaN,0,S,N,NaN,NaN,2020-01,9401968229,23/01/2020 08:12
2,Empresa Prueba,NI,901283244,2,NaN,NaN,A,2,J,U,...,1,NaN,0,S,N,NaN,NaN,2020-01,9401984879,24/01/2020 08:10
3,Empresa Prueba,NI,811014513,1,NaN,NaN,B,2,J,U,...,1,NaN,0,S,N,NaN,NaN,2020-01,9401776401,14/01/2020 10:58
4,Empresa Prueba,NI,811020576,8,NaN,NaN,A,2,J,U,...,1,NaN,0,S,N,NaN,NaN,2019-12,9401760181,22/01/2020 09:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,Empresa Prueba,NI,900657570,1,1,BOCATOMAS,B,2,J,S,...,1,NaN,0,S,N,NaN,NaN,2020-01,9401782377,14/01/2020 10:58
108,Empresa Prueba,NI,812001561,0,NaN,NaN,B,2,J,U,...,1,NaN,0,S,N,NaN,NaN,2019-12,9401364074,14/01/2020 08:58
109,Empresa Prueba,NI,900397380,2,NaN,NaN,B,2,J,U,...,1,NaN,0,S,N,NaN,NaN,2020-01,17166508,18/01/2020 08:47
110,Empresa Prueba,NI,900836443,2,13,UNION TEMPORAL EL SILENCIO,B,2,J,S,...,1,NaN,0,S,N,NaN,NaN,2020-01,9401803050,15/01/2020 09:52
111,Empresa Prueba,NI,811025401,0,NaN,NaN,A,2,J,U,...,1,NaN,0,S,N,NaN,NaN,2019-12,9402145912,28/01/2020 07:10

* ##### Exploración y Limpieza de los Datos

In [10]:
cotizantes1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2279 entries, 0 to 2278
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   cotizanteid                2279 non-null   object
 1   controlid                  2279 non-null   int64
 2   cdempresa                  2279 non-null   object
 3   nmibc_parafiscal           413 non-null    float64
 4   nmibc_pension              663 non-null    float64
 5   nmibc_riesgos              1970 non-null   float64
 6   nmibc_salud                564 non-null    float64
 7   nmsalario_basico           2279 non-null   int64
 8   fechacontrol               2279 non-null   object
 9   nombreadminccf             413 non-null    object
 10  nombreadminpension         663 non-null    object
 11  nombreadminriesgos         1970 non-null   object
 12  nombreadminsalud           564 non-null    object
 13  numerodocumento            2279 non-null   int64
 14  periodo_cotizacion         2279 non-null   int64
 15  primerapellido             2279 non-null   object
 16  primernombre               2279 non-null   object
 17  segundoapellido            2279 non-null   object
 18  segundonombre              2279 non-null   object
 19  tipo_cotizante             2279 non-null   int64
 20  tipodocumento              2279 non-null   object
 21  tipoplanilla               2278 non-null   object
 22  novedadingreso             145 non-null    object
 23  novedadretiro              119 non-null    object
 24  tipodocumento_aportante    2279 non-null   object
 25  numerodocumento_aportante  2279 non-null   int64
dtypes: float64(4), int64(6), object(16)
memory usage: 463.0+ KB

In [11]:
aportantes1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 34 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   nombre_razon_social                112 non-null    object
 1   tipo_documento                     112 non-null    object
 2   numero_identificacion              112 non-null    int64
 3   digito_verificacion                112 non-null    int64
 4   codigo_sucursal                    38 non-null     object
 5   nombre_sucursal                    38 non-null     object
 6   clase_aportante                    112 non-null    object
 7   naturaleza_juridica                112 non-null    int64
 8   tipo_persona                       112 non-null    object
 9   formato_presentacion               112 non-null    object
 10  direccion_correspondencia          112 non-null    object
 11  codigo_ciudad                      112 non-null    int64
 12  codigo_departamento                112 non-null    int64
 13  actividad_economica                112 non-null    int64
 14  telefono                           111 non-null    float64
 15  fax                                42 non-null     float64
 16  email                              112 non-null    object
 17  identificacion_rl                  107 non-null    float64
 18  digito_verificacion_rl             112 non-null    int64
 19  fecha_inicio_concordato            0 non-null      float64
 20  tipo_accion                        112 non-null    int64
 21  fecha_fin_actividades_comerciales  0 non-null      float64
 22  codigo_operador                    112 non-null    int64
 23  periodo_pago                       112 non-null    object
 24  tipo_aportante                     112 non-null    int64
 25  fecha_matricula_mercantil          0 non-null      float64
 26  cod_depto                          112 non-null    int64
 27  exonerado_pago_salid               112 non-null    object
 28  acoge_beneficios                   112 non-null    object
 29  dir_origen                         0 non-null      float64
 30  fecha_planilla                     0 non-null      float64
 31  periodo_cotizacion                 112 non-null    object
 32  cd_planilla                        112 non-null    int64
 33  fecharegistro                      112 non-null    object
dtypes: float64(8), int64(12), object(14)
memory usage: 29.9+ KB

In [26]:
cotizantes2 = cotizantes1.drop_duplicates(subset=['cotizanteid'])

In [27]:
cotizantes2.head()

,cotizanteid,controlid,cdempresa,nmibc_parafiscal,nmibc_pension,nmibc_riesgos,nmibc_salud,nmsalario_basico,fechacontrol,nombreadminccf,...,primernombre,segundoapellido,segundonombre,tipo_cotizante,tipodocumento,tipoplanilla,novedadingreso,novedadretiro,tipodocumento_aportante,numerodocumento_aportante
0,CC42053724,8478833801,Empresa Prueba,NaN,NaN,390621.0,NaN,390621,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,59,CC,I,NaN,NaN,CC,42053724
1,CC1080183082,8487959288,Empresa Prueba,NaN,NaN,749299.0,NaN,394046,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,1,CC,E,NaN,NaN,NI,890916883
2,CC70285939,8480452098,Empresa Prueba,NaN,NaN,773000.0,NaN,773000,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,59,CC,Y,NaN,NaN,NI,890324177
3,CC79327281,8486001516,Empresa Prueba,NaN,NaN,3500000.0,NaN,3500000,2019-05-27 14:45:52.09714,NaN,...,Nombre 1,Apellido 2,Nombre 2,1,CC,E,NaN,NaN,NI,830081566
4,CC1040750495,7717231634,Empresa Prueba,431641.0,NaN,NaN,431641.0,425000,2019-05-27 14:45:52.09714,CAJA DE COMPENSACION FAMILIAR DE ANTIOQUIA COM...,...,Nombre 1,Apellido 2,Nombre 2,1,CC,E,NaN,NaN,NI,800042522

In [57]:
aportantes2 = aportantes1.drop_duplicates(subset=['numero_identificacion'])

In [58]:
aportantes2.info

<bound method DataFrame.info of     nombre_razon_social tipo_documento  numero_identificacion  \
0        Empresa Prueba             CC               31626898
1        Empresa Prueba             NI              900645180
2        Empresa Prueba             NI              901283244
3        Empresa Prueba             NI              811014513
4        Empresa Prueba             NI              811020576
..                  ...            ...                    ...
104      Empresa Prueba             NI              900761031
107      Empresa Prueba             NI              900657570
108      Empresa Prueba             NI              812001561
109      Empresa Prueba             NI              900397380
110      Empresa Prueba             NI              900836443

     digito_verificacion codigo_sucursal             nombre_sucursal  \
0                      0             NaN                         NaN
1                      0               1                      BOGOTA
2                      2             NaN                         NaN
3                      1             NaN                         NaN
4                      8             NaN                         NaN
..                   ...             ...                         ...
104                    8             NaN                         NaN
107                    1               1                   BOCATOMAS
108                    0             NaN                         NaN
109                    2             NaN                         NaN
110                    2              13  UNION TEMPORAL EL SILENCIO

    clase_aportante  naturaleza_juridica tipo_persona formato_presentacion  \
0                 I                    2            N                    U
1                 A                    2            J                    S
2                 A                    2            J                    U
3                 B                    2            J                    U
4                 A                    2            J                    U
..              ...                  ...          ...                  ...
104               D                    2            J                    U
107               B                    2            J                    S
108               B                    2            J                    U
109               B                    2            J                    U
110               B                    2            J                    S

     ... tipo_aportante  fecha_matricula_mercantil  cod_depto  \
0    ...              2                        NaN          0
1    ...              1                        NaN          0
2    ...              1                        NaN          0
3    ...              1                        NaN          0
4    ...              1                        NaN          0
..   ...            ...                        ...        ...
104  ...              1                        NaN       4010
107  ...              1                        NaN          0
108  ...              1                        NaN          0
109  ...              1                        NaN          0
110  ...              1                        NaN          0

     exonerado_pago_salid  acoge_beneficios  dir_origen fecha_planilla  \
0                       N                 N         NaN            NaN
1                       S                 N         NaN            NaN
2                       S                 N         NaN            NaN
3                       S                 N         NaN            NaN
4                       S                 N         NaN            NaN
..                    ...               ...         ...            ...
104                     S                 N         NaN            NaN
107                     S                 N         NaN            NaN
108                     S                 N         NaN            NaN
109                     S                 N         NaN            NaN
110                     S                 N         NaN            NaN

     periodo_cotizacion  cd_planilla     fecharegistro
0               2019-12   9401673350  11/01/2020 08:39
1               2020-01   9401968229  23/01/2020 08:12
2               2020-01   9401984879  24/01/2020 08:10
3               2020-01   9401776401  14/01/2020 10:58
4               2019-12   9401760181  22/01/2020 09:03
..                  ...          ...               ...
104             2019-12     17117464  11/01/2020 08:38
107             2020-01   9401782377  14/01/2020 10:58
108             2019-12   9401364074  14/01/2020 08:58
109             2020-01     17166508  18/01/2020 08:47
110             2020-01   9401803050  15/01/2020 09:52

[98 rows x 34 columns]>

<b> Respuesta ítem 1.1 </b>

* Cantidad de personas que tiene pagos para el periodo de cotización=201901

In [35]:
print('La cantidad de personas con pagos registrados para el periodo de cotización 2019-01 fue de:')
((cotizantes2[(cotizantes2['periodo_cotizacion'] == 201901)])[['cotizanteid','periodo_cotizacion']].groupby(['periodo_cotizacion']).count().sort_values(by='cotizanteid', ascending=False)).head()

La cantidad de personas con pagos registrados para el periodo de cotización 2019-01 fue de:

                    cotizanteid
periodo_cotizacion
201901                        6

<b> Respuesta ítem 1.2 </b>

* Cantidad de personas que tiene pagos por cada uno de los periodos de cotización.

In [39]:
(cotizantes2[['cotizanteid','periodo_cotizacion']].groupby(['periodo_cotizacion']).count().sort_values(by='periodo_cotizacion', ascending=False)).head(200)

                    cotizanteid
periodo_cotizacion
201904                       10
201903                       11
201902                        4
201901                        6
201812                        6
201811                        3
201810                        8
201809                        5
201808                        4
201807                        3
201806                        4
201805                        6
201804                        6
201803                        6
201802                        7
201801                        5
201712                        2
201710                        1
201706                        1
201705                        1
201508                        1

<b> Respuesta ítem 1.3 </b>

*   El promedio salarial de cada una de las personas.

In [41]:
(cotizantes2[['cotizanteid','nmsalario_basico']].groupby(['cotizanteid']).mean().sort_values(by='nmsalario_basico', ascending=False)).head(30)

              nmsalario_basico
cotizanteid
CC32760342           4299150.0
CC10535298           3640323.0
CC79327281           3500000.0
CC42105755           3246751.0
CC7723876            1777350.0
CC1020409583         1750000.0
CC24317409           1480000.0
CC7716588            1432209.0
CC1032466204         1250000.0
CC1020761044         1241370.0
CC37713711           1233750.0
CC1049608290         1230362.0
CC36725172           1200000.0
CC31626898           1150000.0
CC80765739           1129700.0
CC79345001           1065000.0
CC1026582030         1041361.0
CC79936775           1000000.0
CC1019081016          994500.0
CC20749516            976000.0
CC1119891139          944500.0
CC73208971            900000.0
CC26987169            882500.0
CC71724085            849000.0
CC70285939            773000.0
CC31791433            750000.0
CC23497693            679000.0
CC1067033339          669500.0
CC52344690            630894.0
CC1049796792          550000.0

<b> Respuesta ítem 1.4 </b>

*   El último periodo pagado por cada persona, con toda la información cargada para dicho periodo, incluyendo teléfono, email, fax,direccion del aportante.

In [46]:
DbMaestra = pd.merge(cotizantes1, aportantes1, left_on='numerodocumento_aportante', right_on='numero_identificacion', )

In [49]:
DbMaestra.head(31)

,cotizanteid,controlid,cdempresa,nmibc_parafiscal,nmibc_pension,nmibc_riesgos,nmibc_salud,nmsalario_basico,fechacontrol,nombreadminccf,...,tipo_aportante,fecha_matricula_mercantil,cod_depto,exonerado_pago_salid,acoge_beneficios,dir_origen,fecha_planilla,periodo_cotizacion_y,cd_planilla,fecharegistro
0,CC1080183082,8487959288,Empresa Prueba,NaN,NaN,749299.0,NaN,394046,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-06,9402138952,28/01/2020 07:09
1,CC1080183082,8487959288,Empresa Prueba,NaN,NaN,749299.0,NaN,394046,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-12,9401778447,22/01/2020 09:03
2,CC1080183082,8492468987,Empresa Prueba,NaN,NaN,959094.0,NaN,417689,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-06,9402138952,28/01/2020 07:09
3,CC1080183082,8492468987,Empresa Prueba,NaN,NaN,959094.0,NaN,417689,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-12,9401778447,22/01/2020 09:03
4,CC1080183082,8493608587,Empresa Prueba,NaN,NaN,816588.0,NaN,417688,2019-06-22 14:00:19.634743,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-06,9402138952,28/01/2020 07:09
5,CC1080183082,8493608587,Empresa Prueba,NaN,NaN,816588.0,NaN,417688,2019-06-22 14:00:19.634743,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-12,9401778447,22/01/2020 09:03
6,CC1080183082,8496925332,Empresa Prueba,NaN,NaN,751146.0,NaN,417688,2019-09-20 14:00:21.667987,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-06,9402138952,28/01/2020 07:09
7,CC1080183082,8496925332,Empresa Prueba,NaN,NaN,751146.0,NaN,417688,2019-09-20 14:00:21.667987,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-12,9401778447,22/01/2020 09:03
8,CC1080183082,8489035458,Empresa Prueba,NaN,NaN,836783.0,NaN,417689,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-06,9402138952,28/01/2020 07:09
9,CC1080183082,8489035458,Empresa Prueba,NaN,NaN,836783.0,NaN,417689,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-12,9401778447,22/01/2020 09:03
10,CC1080183082,8490263085,Empresa Prueba,NaN,NaN,755363.0,NaN,417689,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-06,9402138952,28/01/2020 07:09
11,CC1080183082,8490263085,Empresa Prueba,NaN,NaN,755363.0,NaN,417689,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-12,9401778447,22/01/2020 09:03
12,CC1080183082,8487054139,Empresa Prueba,NaN,NaN,230942.0,NaN,394046,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-06,9402138952,28/01/2020 07:09
13,CC1080183082,8487054139,Empresa Prueba,NaN,NaN,230942.0,NaN,394046,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-12,9401778447,22/01/2020 09:03
14,CC1080183082,8491341312,Empresa Prueba,NaN,NaN,930070.0,NaN,417689,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-06,9402138952,28/01/2020 07:09
15,CC1080183082,8491341312,Empresa Prueba,NaN,NaN,930070.0,NaN,417689,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-12,9401778447,22/01/2020 09:03
16,CC1080183082,8495828600,Empresa Prueba,NaN,NaN,855205.0,NaN,417688,2019-08-23 14:00:19.009023,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-06,9402138952,28/01/2020 07:09
17,CC1080183082,8495828600,Empresa Prueba,NaN,NaN,855205.0,NaN,417688,2019-08-23 14:00:19.009023,NaN,...,1,NaN,0,S,N,NaN,NaN,2019-12,9401778447,22/01/2020 09:03
18,CC70285939,8480452098,Empresa Prueba,NaN,NaN,773000.0,NaN,773000,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,N,N,NaN,NaN,2019-12,9402028932,25/01/2020 07:56
19,CC70285939,8490374164,Empresa Prueba,NaN,NaN,773000.0,NaN,773000,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,N,N,NaN,NaN,2019-12,9402028932,25/01/2020 07:56
20,CC70285939,8486893073,Empresa Prueba,NaN,NaN,773000.0,NaN,773000,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,N,N,NaN,NaN,2019-12,9402028932,25/01/2020 07:56
21,CC70285939,8488782564,Empresa Prueba,NaN,NaN,773000.0,NaN,773000,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,N,N,NaN,NaN,2019-12,9402028932,25/01/2020 07:56
22,CC70285939,8485888761,Empresa Prueba,NaN,NaN,773000.0,NaN,773000,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,N,N,NaN,NaN,2019-12,9402028932,25/01/2020 07:56
23,CC70285939,8481295764,Empresa Prueba,NaN,NaN,773000.0,NaN,773000,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,N,N,NaN,NaN,2019-12,9402028932,25/01/2020 07:56
24,CC70285939,8490028073,Empresa Prueba,NaN,NaN,773000.0,NaN,773000,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,N,N,NaN,NaN,2019-12,9402028932,25/01/2020 07:56
25,CC70285939,8479186660,Empresa Prueba,NaN,NaN,773000.0,NaN,773000,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,N,N,NaN,NaN,2019-12,9402028932,25/01/2020 07:56
26,CC70285939,8476995453,Empresa Prueba,NaN,NaN,634500.0,NaN,634500,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,N,N,NaN,NaN,2019-12,9402028932,25/01/2020 07:56
27,CC70285939,8478255865,Empresa Prueba,NaN,NaN,773000.0,NaN,773000,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,N,N,NaN,NaN,2019-12,9402028932,25/01/2020 07:56
28,CC70285939,8482448060,Empresa Prueba,NaN,NaN,773000.0,NaN,773000,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,N,N,NaN,NaN,2019-12,9402028932,25/01/2020 07:56
29,CC70285939,8487839985,Empresa Prueba,NaN,NaN,773000.0,NaN,773000,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,N,N,NaN,NaN,2019-12,9402028932,25/01/2020 07:56
30,CC79327281,8486001516,Empresa Prueba,NaN,NaN,3500000.0,NaN,3500000,2019-05-27 14:45:52.09714,NaN,...,1,NaN,0,S,N,NaN,NaN,2020-01,9401815371,15/01/2020 09:53

In [50]:
DbMaestra.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1523 entries, 0 to 1522
Data columns (total 60 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   cotizanteid                        1523 non-null   object
 1   controlid                          1523 non-null   int64
 2   cdempresa                          1523 non-null   object
 3   nmibc_parafiscal                   246 non-null    float64
 4   nmibc_pension                      329 non-null    float64
 5   nmibc_riesgos                      1342 non-null   float64
 6   nmibc_salud                        256 non-null    float64
 7   nmsalario_basico                   1523 non-null   int64
 8   fechacontrol                       1523 non-null   object
 9   nombreadminccf                     246 non-null    object
 10  nombreadminpension                 329 non-null    object
 11  nombreadminriesgos                 1342 non-null   object
 12  nombreadminsalud                   256 non-null    object
 13  numerodocumento                    1523 non-null   int64
 14  periodo_cotizacion_x               1523 non-null   int64
 15  primerapellido                     1523 non-null   object
 16  primernombre                       1523 non-null   object
 17  segundoapellido                    1523 non-null   object
 18  segundonombre                      1523 non-null   object
 19  tipo_cotizante                     1523 non-null   int64
 20  tipodocumento                      1523 non-null   object
 21  tipoplanilla                       1523 non-null   object
 22  novedadingreso                     105 non-null    object
 23  novedadretiro                      77 non-null     object
 24  tipodocumento_aportante            1523 non-null   object
 25  numerodocumento_aportante          1523 non-null   int64
 26  nombre_razon_social                1523 non-null   object
 27  tipo_documento                     1523 non-null   object
 28  numero_identificacion              1523 non-null   int64
 29  digito_verificacion                1523 non-null   int64
 30  codigo_sucursal                    564 non-null    object
 31  nombre_sucursal                    564 non-null    object
 32  clase_aportante                    1523 non-null   object
 33  naturaleza_juridica                1523 non-null   int64
 34  tipo_persona                       1523 non-null   object
 35  formato_presentacion               1523 non-null   object
 36  direccion_correspondencia          1523 non-null   object
 37  codigo_ciudad                      1523 non-null   int64
 38  codigo_departamento                1523 non-null   int64
 39  actividad_economica                1523 non-null   int64
 40  telefono                           1521 non-null   float64
 41  fax                                698 non-null    float64
 42  email                              1523 non-null   object
 43  identificacion_rl                  1433 non-null   float64
 44  digito_verificacion_rl             1523 non-null   int64
 45  fecha_inicio_concordato            0 non-null      float64
 46  tipo_accion                        1523 non-null   int64
 47  fecha_fin_actividades_comerciales  0 non-null      float64
 48  codigo_operador                    1523 non-null   int64
 49  periodo_pago                       1523 non-null   object
 50  tipo_aportante                     1523 non-null   int64
 51  fecha_matricula_mercantil          0 non-null      float64
 52  cod_depto                          1523 non-null   int64
 53  exonerado_pago_salid               1523 non-null   object
 54  acoge_beneficios                   1523 non-null   object
 55  dir_origen                         0 non-null      float64
 56  fecha_planilla                     0 non-null      float64
 57  periodo_cotizacion_y               1523 non-null   object
 58  cd_planilla                        1523 non-null   int64
 59  fecharegistro                      1523 non-null   object
dtypes: float64(12), int64(18), object(30)
memory usage: 725.8+ KB

In [52]:
PeriodoPagado = (DbMaestra.drop_duplicates(subset=['cotizanteid'], keep='last')).loc[:, ['cotizanteid', 'periodo_cotizacion_x', 'telefono', 'email', 'fax', 'direccion_correspondencia']]

In [53]:
PeriodoPagado.head(80)

,cotizanteid,periodo_cotizacion_x,telefono,email,fax,direccion_correspondencia
29,CC70285939,201812,3319090.0,prueba@prueba.com.co,NaN,CARRERA 98 NO 18-49
54,CC79327281,201910,7439050.0,prueba@prueba.com.co,NaN,CL 15 12 57
77,CC1040750495,201912,4482599.0,prueba@prueba.com.co,2793889.0,CRA 50 NO. 80 SUR -80
89,CC71724085,201805,4489018.0,prueba@prueba.com.co,NaN,CRA 45 # 25-23
109,CC36725172,201908,6943045.0,prueba@prueba.com.co,4661048.0,CLL 75 58 30
...,...,...,...,...,...,...
1507,CC1143987925,201912,4325070.0,prueba@prueba.com.co,NaN,CALLE 93 12 54
1514,CC1127622871,201911,7452340.0,prueba@prueba.com.co,NaN,CALLE 93 #19-58
1518,CC43452280,201912,2543598.0,prueba@prueba.com.co,NaN,CR505959
1520,CC1020761044,201912,2122300.0,prueba@prueba.com.co,NaN,CALLE 73 7 31 PISO 3
1522,CC52293684,201702,7480808.0,prueba@prueba.com.co,NaN,CRA 63 NO 17-92

* ##### Formulación de Conclusiones

### <b> Indicadores </b>

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

#### <b> Indicador 1: Cantidad de aportantes Independientes, (tipo planilla igual a I) </b>

In [65]:
def TipoAportante(x):
    Independiente = False
    if (x == 'I'):
        Independiente = True
    else:
        None
    return Independiente

In [67]:
AportantesIndependientes = (DbMaestra.drop_duplicates(subset=['numero_identificacion'], keep='last')).loc[:, ['numero_identificacion', 'tipoplanilla']]

In [68]:
print(AportantesIndependientes)

      numero_identificacion tipoplanilla
17                890916883            E
29                890324177            Y
54                830081566            E
77                800042522            E
89                900438440            E
...                     ...          ...
1514              900843898            Y
1518              811014513            E
1519              900840044            E
1520              901185308            E
1522              860025913            E

[98 rows x 2 columns]

In [69]:
AportantesIndependientes = (AportantesIndependientes['tipoplanilla']).apply(TipoAportante)

In [72]:
print('La cantidad de aportantes imdependientes es:')
print(AportantesIndependientes[AportantesIndependientes == True].count())

La cantidad de aportantes imdependientes es:
3

#### <b> Indicador 2: Cantidad de personas que presentan novedad de ingreso por periodo de cotización </b>

In [74]:
cotizantes2[['periodo_cotizacion','novedadingreso']].groupby(['periodo_cotizacion']).count()

                    novedadingreso
periodo_cotizacion
201508                           0
201705                           0
201706                           0
201710                           0
201712                           0
201801                           1
201802                           0
201803                           0
201804                           0
201805                           0
201806                           0
201807                           0
201808                           0
201809                           1
201810                           1
201811                           0
201812                           0
201901                           1
201902                           2
201903                           2
201904                           2

#### <b> Indicador 3: Segmentación de personas por salario Básico, tomar en cuenta solo el último periodo de cotización pagado por cada persona. </b>

In [77]:
cotizantes1.drop_duplicates(subset=['cotizanteid'], keep='last')[['cotizanteid','nmsalario_basico']].groupby(['nmsalario_basico']).head(30)

       cotizanteid  nmsalario_basico
1445    CC79936775           1000000
1559  CC1045523556            390621
1692    CC98332644            368858
1707    CC92528342            390621
1734    CC92556219            390621
...            ...               ...
2273  CC1035855150            700000
2274  CC1026582030            828150
2275  CC1080183082            417688
2276    CC42105755           3373374
2277  CC1053782170            507708

[91 rows x 2 columns]

#### <b> Indicador 4: Cantidad de personas y aportantes suministrados. </b>

In [81]:
print('La cantidad de Personas suministrada fue:')
print(cotizantes2['cotizanteid'].count())

La cantidad de Personas suministrada fue:
100

In [82]:
print('La cantidad de Aportantes suministrada fue:')
print(aportantes2['numero_identificacion'].count())

La cantidad de Aportantes suministrada fue:
98